@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 0 0% 11%;

    --primary: 315 49% 48%;
    --primary-foreground: 0 0% 96%;

    --primary-dark: 174 71% 62%;
    --primary-dark-foreground: 0 0% 11%;

    --card: 0 0% 96%;
    --card-foreground: 0 0% 11%;

    --popover: 0 0% 96%;
    --popover-foreground: 0 0% 11%;

    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 40%;

    --accent: 0 0% 90%;
    --accent-foreground: 0 0% 11%;

    --destructive: 0 85% 60%;
    --destructive-foreground: 0 0% 96%;

    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 0 0% 11%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 11%;
    --foreground: 0 0% 96%;

    --primary: 315 49% 48%;
    --primary-foreground: 0 0% 96%;

    --primary-dark: 174 71% 62%;
    --primary-dark-foreground: 0 0% 11%;

    --card: 0 0% 11%;
    --card-foreground: 0 0% 96%;

    --popover: 0 0% 11%;
    --popover-foreground: 0 0% 96%;

    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 60%;

    --accent: 0 0% 20%;
    --accent-foreground: 0 0% 96%;

    --destructive: 0 85% 60%;
    --destructive-foreground: 0 0% 96%;

    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 0 0% 96%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.bg-circularLight {
  background-image: repeating-radial-gradient(
    rgba(0, 0, 0, 0.4) 2px,
    hsl(var(--background)) 5px,
    hsl(var(--background)) 100px
  );
}

.bg-circularDark {
  background-image: repeating-radial-gradient(
    hsla(0, 0%, 100%, 0.5) 2px,
    hsl(var(--background)) 8px,
    hsl(var(--background)) 100px
  );
}

.bg-circularLightLg {
  background-image: repeating-radial-gradient(
    rgba(0, 0, 0, 0.4) 2px,
    hsl(var(--background)) 5px,
    hsl(var(--background)) 80px
  );
}

.bg-circularDarkLg {
  background-image: repeating-radial-gradient(
    hsla(0, 0%, 100%, 0.5) 2px,
    hsl(var(--background)) 8px,
    hsl(var(--background)) 80px
  );
}

.bg-circularLightMd {
  background-image: repeating-radial-gradient(
    rgba(0, 0, 0, 0.4) 2px,
    hsl(var(--background)) 5px,
    hsl(var(--background)) 60px
  );
}

.bg-circularDarkMd {
  background-image: repeating-radial-gradient(
    hsla(0, 0%, 100%, 0.5) 2px,
    hsl(var(--background)) 8px,
    hsl(var(--background)) 60px
  );
}

.bg-circularLightSm {
  background-image: repeating-radial-gradient(
    rgba(0, 0, 0, 0.4) 2px,
    hsl(var(--background)) 5px,
    hsl(var(--background)) 40px
  );
}

.bg-circularDarkSm {
  background-image: repeating-radial-gradient(
    hsla(0, 0%, 100%, 0.5) 2px,
    hsl(var(--background)) 8px,
    hsl(var(--background)) 40px
  );
}

.animate-spin-slow {
  animation: spin 8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
